<app-nav-bar></app-nav-bar>

<mat-card class="example-card" *ngIf="profile">
  <mat-card-title-group>
    <mat-card-title>{{ profile.username }}</mat-card-title>
    <img mat-card-lg-image
      src="https://previews.123rf.com/images/provector/provector1502/provector150200280/37008794-piso-business-woman-usuario-dise%C3%B1o-perfil-avatar-icono-y-larga-sombra-ilustraci%C3%B3n-vectorial-para-el-.jpg?fj=1"
    />
  </mat-card-title-group>
  <mat-card-content>
    Hola, {{ profile.username}}
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
