
<!--div id= "form-container">
  <form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4" id="date--">
      <label for="validationCustom01" class="form-label">Nombre de encuestador</label>
      <input type="text" class="form-control" name="encuestador" [(ngModel)]="encuestador" (ngModelChange)="Search()">
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div id= "date-pick">
      <mat-form-field appearance="fill">
        <mat-label>Buscar entre fechas</mat-label>
        <mat-date-range-input [rangePicker]="picker" >
          <input matStartDate placeholder="Desde" >
          <input matEndDate placeholder="Hasta" >
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div-->
    <div>
    <form [formGroup]="search" class="row g-3 needs-validation" novalidate>
      <h2></h2>
      <div id= ""class="col-md-4">
        <mat-form-field>
          <input type="text" matInput placeholder="Nombre Encuestador" formControlName="encuestador" />
        </mat-form-field>
      </div>
      <div class="col-md-4" >
      <mat-form-field class="from-control">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field></div>

     <div class="col-md-4">
      <mat-form-field >
        <input matInput placeholder="Nº Vivienda" formControlName="num_vivienda" />
      </mat-form-field>
     </div>

      <div class="col-md-4">
        <mat-form-field>
        <input matInput placeholder="Nº Hogar" formControlName="num_hogar" />
      </mat-form-field></div>


    <!--div class="col-md-6">
      <label for="validationCustom03" class="form-label">Nº de vivienda</label>
      <input type="text" class="form-control" name="n_vivienda" placeholder="Introduzca Nº de vivienda" [(ngModel)]="n_vivienda" (ngModelChange)="searchVivienda()">
      <div class="invalid-feedback">
        Por favor ingrese un Nº de vivienda válido.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom05" class="form-label">Nº de hogar</label>
      <input type="number" class="form-control" id="validationCustom05" placeholder="Introduzca Nº de hogar" required>
      <div class="invalid-feedback">
        Por favor ingrese un Nº de hogar válido.
      </div>
    </div-->
    <!--<div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div-->
    <div class="col-12">
      <button (click)="Search()" class="btn btn-primary" type="submit">Buscar encuesta</button>
    </div>
  </form>

</div>
<!--pre>{{search.value | json }}</pre-->

<div >
  <nav class="navbar">

  </nav>
<table class="table table-bordered">
  <thead>
    <tr>
      <td><b>ID</b></td>
      <td><b>Encuestador</b></td>
      <td><b>Cod Área</b></td>
      <td><b>Nº en listado</b></td>
      <td><b>Fecha</b></td>
      <td><b>Nº Vivienda</b></td>
      <td><b>Nº Hogar</b></td>
      <td><b>ACCIÓN</b></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let encuesta of encuestas">
      <td>{{encuesta.id}}</td>
      <td>{{encuesta.encuestador}}</td>
      <td>{{encuesta.cod_area}}</td>
      <td>{{encuesta.num_listado}}</td>
      <td>{{encuesta.fecha | date:'dd/MM/yyyy'}}</td>
      <td>{{encuesta.num_vivienda}}</td>
      <td>{{encuesta.num_hogar}}</td>
      <td><a href="">{{encuesta.accion}}</a></td>
    </tr>

  </tbody>
</table>
</div>

