<app-nav-bar></app-nav-bar>
<div id= "form-container">
  <form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4" id="date--">
      <label for="validationCustom01" class="form-label">Nº de encuestador</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Introduzca Nº de encuestador" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div id= "date-pick">
      <mat-form-field appearance="fill">
        <mat-label>Buscar entre fechas</mat-label>
        <mat-date-range-input [rangePicker]="picker" >
          <input matStartDate placeholder="Desde" >
          <input matEndDate placeholder="Hasta" >
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>


    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">Nº de vivienda</label>
      <input type="number" class="form-control" id="validationCustom03" placeholder="Introduzca Nº de vivienda" required>
      <div class="invalid-feedback">
        Por favor ingrese un Nº de vivienda válido.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom05" class="form-label">Nº de hogar</label>
      <input type="number" class="form-control" id="validationCustom05" placeholder="Introduzca Nº de hogar" required>
      <div class="invalid-feedback">
        Por favor ingrese un Nº de hogar válido.
      </div>
    </div>
    <!--<div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div-->
    <div class="col-12">
      <button (click)="onSubmit()" class="btn btn-primary" type="submit">Buscar encuesta</button>
    </div>
  </form>

</div>
<div >
<table class="table table-bordered">
  <thead>
    <tr>
      <td>ID</td>
      <td>Encuestador</td>
      <td>Cod Área</td>
      <td>Nº en listado</td>
      <td>Fecha</td>
      <td>Nº Vivienda</td>
      <td>Nº Hogar</td>
      <td>ACCIÓN</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let encuesta of encuestas">
      <td>{{encuesta.id}}</td>
      <td>{{encuesta.encuestador}}</td>
      <td>{{encuesta.cod_area}}</td>
      <td>{{encuesta.fecha}}</td>
      <td>{{encuesta.n_listado}}</td>
      <td>{{encuesta.n_vivienda}}</td>
      <td>{{encuesta.n_hogar}}</td>
      <td><a href="">{{encuesta.accion}}</a></td>
    </tr>
    <tr>
      <td>Test</td>
    </tr>
  </tbody>
</table>
</div>
<!--<div class="container text-center">
  <div class="row">
    <div class="col-1">ID</div>
    <div class="col-3">Encuestador</div>
    <div class="col">Cod Área</div>
    <div class="col">Nº en listado</div>
    <div class="col">Fecha</div>
    <div class="col">Nº Vivienda</div>
    <div class="col">Nº Hogar</div>
    <div class="col">ACCIÓN</div>
  </div-->

<router-outlet></router-outlet>
