<mat-toolbar color="primary" class="expanded-toolbar ml-auto">
  <span>
    <img class= "logo" src="https://www.jesusmaria.gov.ar/frontend/images/white-logo.svg" alt>
    <!--button mat-button routerLink="/">EPH Jesús María</button-->
    <span class="links">
      <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/nuevaEncuesta">Crear Encuesta</button>
    <button mat-button routerLink="/profile">Perfil</button>
    </span>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>
<router-outlet></router-outlet>
