<!--app-nav-bar></app-nav-bar-->
<div class="col-md-6">
      <label for="validationCustom03" class="form-label">Nº de vivienda</label>
      <input type="text" class="form-control" name="n_vivienda" placeholder="Introduzca Nº de vivienda" >
      <div class="invalid-feedback">
        Por favor ingrese un Nº de vivienda válido.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom05" class="form-label">Nº de hogar</label>
      <input type="number" class="form-control" id="validationCustom05" placeholder="Introduzca Nº de hogar" required>
      <div class="invalid-feedback">
        Por favor ingrese un Nº de hogar válido.
      </div>
<p>form works!</p>

